<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/styles.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex">
        <%- include('components/sidebar') %>
        <div class="container-fluid p-4" id="main-content">
            <h1 class="mb-4">Genres</h1>

            <div class="mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" id="newCountry" placeholder="Country">
                    <button class="btn btn-success" type="button" onclick="addCountry()">Submit</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Genre</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% movies.forEach((movie, index) => { %>
                            <tr id="movie-<%= movie._id %>">
                                <td><%= index + 1 %></td> <!-- Nomor urut -->
                                <td>
                                    <input type="text" class="form-control" value="<%= movie.genres %>">
                                </td>
                                <td><input type="radio" name="defaultCountry"  disabled> Default</td>
                                <td>
                                    <a href="/movies/<%= movie._id %>/edit" class="btn btn-warning btn-sm">Rename</a>
                                    <button class="btn btn-danger btn-sm" onclick="deleteMovie('<%= movie._id %>')">Delete</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
</body>
</html>
